<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Wholesaler Details</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Itim&family=Signika+Negative&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wholesalers.css') }}" />
  </head>
  <body>
    <h1>Wholesaler Details</h1>

    <div class="button-container">
      <button
        onclick="window.location.href='{{ url_for('Waccount')}}'"
        class="redirect-button"
      >
        View Account Details
      </button>
      <button
        onclick="window.location.href='{{ url_for('Wpayment')}}'"
        class="redirect-button"
      >
        View Payment Details
      </button>
      <button
        onclick="window.location.href='{{ url_for('Wpurchase')}}'"
        class="redirect-button"
      >
        View Purchase Details
      </button>
      <button
        onclick="window.location.href='{{ url_for('Wstocks')}}'"
        class="redirect-button"
      >
        View Stock Details
      </button>
      <button
        onclick="window.location.href='{{url_for('Wplaceorder_page')}}'"
        class="redirect-button"
      >
        Place Order
      </button >
    </div>
  </body>
</html>
